<template>
  <t-modal v-model="openModal" header="Edit Appointment">
    <div class="form mb-2 p-2">
      <div class="h-auto">
        <label class="block" for="name">Enter Postcode</label>
        <t-input
          v-model.lazy="postcode"
          required
          placeholder="CM2 0XF..."
          name="postcode"
        />
      </div>
      <div class="field">
        <label class="block" for="name">Select Date</label>
        <t-datepicker
          v-model="selectedDate"
          user-format="d F Y - G:i K"
          date-format="Z"
          placeholder="Appointment Time"
          timepicker
          am-pm
        />
      </div>

      <div class="field select-filter">
        <label class="block" for="name">Select Contact</label>
        <t-rich-select
          v-model="searchContact"
          :options="contacts"
          placeholder="Search Contact by Name"
          value-attribute="contact_id"
          text-attribute="contact_name"
          :minimum-input-length="0"
        >
          <template
            slot="option"
            slot-scope="{ isSelected, className, option }"
          >
            <div
              :class="
                isSelected ? `text-white bg-purple-400 ${className}` : className
              "
            >
              <div class="flex flex-col w-full ml-2">
                {{ option.raw.contact_name }}
                {{ option.raw.contact_surname }}
              </div>
            </div>
          </template>
          <template slot="label">
            <span v-if="selectedContact"
              >{{ selectedContact.contact_name }}
              {{ selectedContact.contact_surname }}</span
            >
          </template>
        </t-rich-select>
      </div>
      <div class="field select-filter">
        <label class="block" for="name">Asign Agent</label>
        <t-rich-select
          v-model="searchAgent"
          :options="agents"
          placeholder="Search Agent by Name"
          value-attribute="agent_id"
          text-attribute="agent_name"
          :minimum-input-length="0"
        >
          <template
            slot="option"
            slot-scope="{ isSelected, className, option }"
          >
            <div
              :class="
                isSelected ? `text-white bg-purple-400 ${className}` : className
              "
            >
              <div class="flex flex-col w-full ml-2">
                {{ option.raw.agent_name }} {{ option.raw.agent_surname }}
              </div>
            </div>
          </template>

          <template slot="label">
            <span v-if="selectedAgent"
              >{{ selectedAgent.agent_name }}
              {{ selectedAgent.agent_surname }}</span
            >
          </template>
        </t-rich-select>
      </div>
    </div>
    <template #footer>
      <div class="flex justify-end">
        <button
          type="button"
          class="btn cursor-pointer bg-purple-400"
          :disabled="!creatable"
          @click="onSubmit"
        >
          Update Appointment
        </button>
      </div>
    </template>
  </t-modal>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: {
    open: {
      type: Boolean,
      required: true,
      default: false,
    },
    appointment: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {
      searchContact: null,
      searchAgent: null,
      postcode: null,
      selectedDate: null,
      openModal: false,
    }
  },
  computed: {
    ...mapGetters({
      localAddress: 'main/postcode/getLocalAddress',
      contacts: 'main/contacts/getContacts',
      agents: 'main/agents/getAgents',
      selectedContact: 'main/contacts/getSelectedContact',
      selectedAgent: 'main/agents/getSelectedAgent',
      getSelectedLocation: 'main/postcode/getSelectedLocation',
    }),
    creatable() {
      if (
        this.selectedDate &&
        this.postcode &&
        this.selectedContact.contact_id &&
        this.selectedAgent.agent_id
      ) {
        return true
      } else {
        return false
      }
    },
  },
  watch: {
    appointment: {
      deep: true,
      handler(n) {
        this.selectedDate = n.appointment_date
        this.postcode = n.appointment_postcode
      },
    },
    searchContact(n) {
      this.fetchSingleContact(n)
    },
    searchAgent(n) {
      this.fetchSingleAgent(n)
    },
    open(n) {
      this.openModal = n
    },
    openModal() {
      this.$emit('open', this.openModal)
    },
  },
  methods: {
    ...mapActions({
      fetchSingleContact: 'main/contacts/fetchSingleContact',
      fetchSingleAgent: 'main/agents/fetchSingleAgent',
      searchLocation: 'main/postcode/searchLocation',
      updateAppointment: 'main/appointments/updateAppointment',
    }),
    onSubmit() {
      if (this.creatable) {
        const contactId = []
        const agentId = []
        contactId.push(this.selectedContact.id)
        agentId.push(this.selectedAgent.id)

        const data = {
          id: this.appointment.id,
          appointment_date: this.selectedDate,
          appointment_postcode: this.postcode,
          contact_id: contactId,
          agent_id: agentId,
        }
        this.updateAppointment(data)

        this.openModal = false
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
