<template>
  <div>
    <header class="header">
      <!-- <div class="sidebar-controller">
        <span class="active material-icons-round"> menu_open </span>
      </div> -->

      <div class="user">
        <img class="user-image" src="https://volkanakkus.com/pp.jpg" alt="" />
        <div class="user-fullname">
          <span class="text">Volkan Akkuş</span>
          <!-- <span class="ml-1 text-base material-icons-round"> expand_more </span> -->
        </div>
      </div>
    </header>
  </div>
</template>

<script>
export default {}
</script>

<style lang="postcss" scoped>
.header {
  @apply bg-white border-b px-2 flex gap-10 justify-end items-center sticky top-0 h-16  border-gray-200 z-10;
}

.sidebar-controller {
  @apply transition-all w-10 h-10 flex items-center justify-center cursor-pointer shadow rounded-2xl;

  &:hover {
    @apply shadow-lg border;
  }
}

.sidebar-controller span {
  @apply opacity-50;
}

.sidebar-controller:hover span {
  @apply opacity-75;
}

.sidebar-controller span.active {
  @apply transform rotate-180;
}

.search-bar {
  @apply flex w-1/2 justify-center relative;
}

.search-bar span {
  @apply absolute top-3 left-3;
}

.search-bar input {
  @apply w-1/2 border-0 placeholder-gray-400 h-10 appearance-none py-3 px-5 rounded-xl shadow outline-none;

  &:focus {
    @apply ring-transparent;
  }
}

.user {
  @apply transition-all flex items-center gap-2 mr-4 bg-white px-3 py-2  shadow rounded-2xl;
}

.user:hover {
  @apply cursor-pointer shadow-xl border-none;
}

.user .user-fullname {
  @apply font-medium text-sm text-gray-600 flex items-center gap-0 px-1;
}
.user .user-image {
  @apply w-8 h-8 rounded-full ring-2 ring-gray-300;
}
</style>
