<template>
  <div class="sidebar">
    <div class="fixed">
      <div class="sidebar-logo">
        <nuxt-link to="/">
          <div class="company">
            <span class="icon material-icons-round"> store </span>
            <span class="company-name">Iceberg Estates</span>
          </div>
        </nuxt-link>
      </div>

      <div>
        <SidebarLinks :routes="routes" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      contacts: 'main/contacts/getContacts',
      agents: 'main/agents/getAgents',
      appointments: 'main/appointments/getAppointments',
    }),
    routes() {
      return [
        {
          title: null,
          item: [
            {
              name: 'Dashboard',
              icon: 'grid_view',
              url: '/',
            },
          ],
        },

        {
          title: 'Management',
          item: [
            {
              name: 'Appointments',
              icon: 'date_range',
              url: '/appointments',
              number: this.appointments.length,
            },
            {
              name: 'Create Appointment',
              icon: 'edit_calendar',
              url: '/create',
            },
            {
              name: 'Contacts',
              icon: 'perm_contact_calendar',
              url: '/',
              number: this.contacts.length,
            },
            {
              name: 'Agents',
              icon: 'people',
              url: '/',
              number: this.agents.length,
            },
          ],
        },
      ]
    },
  },
}
</script>

<style lang="postcss" scoped>
.sidebar {
  @apply block
  h-screen
  col-span-1
  w-52 z-20
  flex-shrink-0;
}

.fixed {
  @apply w-52;
}

.sidebar-logo {
  @apply flex items-center justify-center border-b h-16;
}

.company {
  @apply flex items-center gap-2  w-44;
}

.company * {
  @apply transition-all;
}

.company:hover {
  @apply bg-white rounded-xl shadow-xl;
}

.company:hover .company-name {
  @apply text-purple-400 pl-1 scale-100;
}

.company .company-name {
  @apply block text-base h-10 leading-10 antialiased font-medium;
}

.company:hover .icon {
  @apply transform scale-110;
}

.company .icon {
  @apply rounded-2xl h-10 bg-purple-400 text-white p-2;
}
</style>
