<template>
  <div>
    <client-only>
      <transition name="fade" appear>
        <GmapMap
          v-if="maplocation"
          :center="maplocation"
          :zoom="zoom"
          map-type-id="terrain"
          style="width: 500px; height: 300px"
          @click="addLocation"
        >
          <DirectionsRenderer
            travel-mode="DRIVING"
            :origin="startLocation"
            :destination="endLocation"
            @data="getDirection"
          />
          <GmapMarker
            v-if="marker"
            :position="marker.position"
            :clickable="true"
            :draggable="true"
            :label="marker.label"
            @drag.native="updateCoordinates"
            @click="center = marker.position"
          />
        </GmapMap>
      </transition>
    </client-only>
  </div>
</template>

<script>
import { gmapApi } from 'vue2-google-maps'
import { mapGetters } from 'vuex'

import DirectionsRenderer from '@/plugins/directions'

export default {
  components: {
    DirectionsRenderer,
  },
  props: {
    selectedLocation: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {
      maplocation: null,
      zoom: 7,
      marker: null,
      coordinates: null,
      places: [],
      startLocation: {},
      endLocation: {},
    }
  },

  computed: {
    google: gmapApi,
    ...mapGetters({
      localAddress: 'main/postcode/getLocalAddress',
    }),
  },
  watch: {
    localAddress: {
      deep: true,
      handler(n) {
        this.maplocation = {
          lat: n.latitude,
          lng: n.longitude,
        }
        this.zoom = 15

        const coordinates = {
          lat: n.latitude,
          lng: n.longitude,
        }

        const marker = {
          position: coordinates,
          title: 'test',
          id: 'testid',
          label: 'Iceberg Estate',
        }

        this.marker = marker
        this.coordinates = coordinates
        this.startLocation = coordinates
      },
    },
    selectedLocation: {
      deep: true,
      handler(n) {
        if (n) {
          this.maplocation = {
            lat: n.latitude,
            lng: n.longitude,
          }
          this.zoom = 15

          const coordinates = {
            lat: n.latitude,
            lng: n.longitude,
          }

          this.coordinates = coordinates
          this.endLocation = coordinates
        }
      },
    },
  },
  methods: {
    updateCoordinates(location) {
      this.coordinates = {
        lat: location.latLng.lat(),
        lng: location.latLng.lng(),
      }
    },
    getDirection(e) {
      this.$emit('location', e)
    },

    addLocation(e) {
      this.marker = null
      this.coordinates = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng(),
      }

      this.endLocation = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng(),
      }
    },
  },
}
</script>
