<template>
  <div class="sidebar-link-group">
    <div v-for="(route, index) in routes" :key="index">
      <span
        v-if="route.title"
        class="sidebar-title"
        :class="{ expanded: !isExpanded }"
        >{{ isExpanded ? route.title : '·' }}</span
      >
      <div class="sidebar-link" :class="{ expanded: !isExpanded }">
        <nuxt-link
          v-for="(item, i) in route.item"
          :key="i"
          :to="item.url"
          class="sidebar-url"
          :class="{ expanded: !isExpanded }"
        >
          <span class="sidebar-url-icon">
            <span class="material-icons-round"> {{ item.icon }}</span>
          </span>
          <span class="sidebar-url-text" :class="{ expanded: !isExpanded }">{{
            item.name
          }}</span>
          <transition name="slide" appear>
            <span v-if="item.number" class="sidebar-url-number">{{
              item.number
            }}</span>
          </transition>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SidebarLinks',
  props: {
    routes: {
      type: Array,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {
      isExpanded: true,
    }
  },
}
</script>

<style lang="postcss" scoped>
.sidebar-link-group {
  @apply mt-4;
}

.sidebar-link {
  @apply px-2 flex items-center flex-col gap-3;
}

.sidebar-link.expanded {
  @apply px-1 justify-center;
}

.sidebar-title {
  @apply flex font-medium text-sm text-gray-400 px-4 my-4 uppercase cursor-default;
}

.sidebar-title.expanded {
  @apply text-sm font-bold ml-3;
}

.sidebar-url {
  @apply flex items-center h-12 px-3 w-full rounded-lg text-gray-600 duration-150 bg-white overflow-hidden hover:bg-gray-100;
}

.sidebar-url.expanded {
  @apply w-12 px-0;
}

.sidebar-url-text {
  @apply ml-2.5 transition-all text-sm font-medium duration-200 text-gray-500 whitespace-nowrap;
}

.sidebar-url-text.expanded {
  @apply opacity-0 invisible;
}

.sidebar-url-icon {
  @apply flex items-center justify-center text-lg text-gray-400;
}

.sidebar-url-number {
  @apply flex items-center justify-center text-sm text-gray-500 font-semibold bg-gray-200 h-6 px-2 rounded-full ml-auto;
}
</style>
