.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;

}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}


.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}