@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  @apply ml-10 my-8 mr-7;
}

.page-title {
  @apply text-2xl text-gray-600 font-medium mb-2 ml-2;
}

button[disabled]{
  @apply opacity-50
}

.btn{
  @apply py-2 px-3 rounded-xl text-white
}

.btn.small{
  @apply py-1 px-1 text-sm
}

.btn.circle{
  @apply rounded-full py-1 px-1 text-sm h-8  w-8
}

.box {
  @apply mt-5 bg-white shadow-xl rounded-2xl p-2;
}

.form input{
  @apply w-full px-4 py-2 text-base text-black transition ease-in-out transform border-transparent rounded-lg bg-gray-100;

  &:focus{
   @apply border-purple-200 bg-white outline-none shadow-lg ring-2
  }
}

  
input, button, a{
  @apply transition-all 
}

input:hover,
select:hover
{
@apply bg-gray-200
}

.select-filter button{
  @apply border-none
}

.form label{
  @apply font-medium text-gray-600 px-1 mb-3 text-base leading-7;
}
