<template>
  <div class="wrap">
    <Sidebar />
    <div class="main">
      <Header />
      <Nuxt />
    </div>
  </div>
</template>

<style lang="postcss" scoped>
.wrap {
  @apply flex;
}
.main {
  @apply bg-gray-100  shadow-inner w-full rounded-lg;
}
</style>
