<template>
  <div class="page">
    <div class="flex justify-between">
      <div class="page-title">
        <h2>Appointments</h2>
      </div>

      <div class="w-72 flex gap-2">
        <button
          class="block reverse-button"
          :class="reversed ? 'reversed' : ''"
          @click="reverse"
        >
          <span class="material-icons-round"> sort </span>
        </button>

        <div class="w-full">
          <t-rich-select
            v-model="filterQuery"
            :options="agents"
            placeholder="Filter by Agent"
            value-attribute="id"
            text-attribute="agent_name"
            :minimum-input-length="0"
            clearable
          >
            <template
              slot="option"
              slot-scope="{ isSelected, className, option }"
            >
              <div
                :class="
                  isSelected
                    ? `text-white bg-purple-400 ${className}`
                    : className
                "
              >
                <div class="flex flex-col w-full ml-2">
                  {{ option.raw.agent_name }} {{ option.raw.agent_surname }}
                </div>
              </div>
            </template>

            <template slot="label" slot-scope="{ option }">
              <span v-if="option"
                >{{ option.raw.agent_name }}
                {{ option.raw.agent_surname }}</span
              >
            </template>
          </t-rich-select>
        </div>
      </div>
    </div>
    <transition name="fade" appear>
      <div v-if="appointments.length > 0" class="appointments-list">
        <div class="appointments-table">
          <div class="p-3">
            <div class="overflow-x-auto">
              <table class="table-auto w-full">
                <thead class="table-head">
                  <tr>
                    <th class="table-head-column">
                      <div>Status</div>
                    </th>
                    <th class="table-head-column">
                      <div>Contact Name</div>
                    </th>
                    <th class="table-head-column">
                      <div>Contact Email</div>
                    </th>
                    <th class="table-head-column">
                      <div>Contact Phone</div>
                    </th>
                    <th class="table-head-column">
                      <div>Postcode</div>
                    </th>
                    <th class="table-head-column">
                      <div>Agent Name</div>
                    </th>
                    <th class="table-head-column">
                      <div>Date</div>
                    </th>
                    <th class="table-head-column">
                      <div>Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody class="text-sm divide-y divide-gray-100">
                  <tr
                    v-for="(item, index) in filteredData"
                    :key="index"
                    :class="
                      new Date(item.appointment_date).getTime() <
                      new Date().getTime()
                        ? 'expired'
                        : 'upcoming'
                    "
                  >
                    <td class="py-2">
                      <div
                        class="table-status"
                        :class="
                          new Date(item.appointment_date).getTime() <
                          new Date().getTime()
                            ? 'bg-gray-400'
                            : 'bg-purple-400'
                        "
                        v-text="
                          new Date(item.appointment_date).getTime() <
                          new Date().getTime()
                            ? 'Expired'
                            : 'Upcoming'
                        "
                      ></div>
                    </td>
                    <td class="table-content-text">
                      <div class="flex items-center">
                        <div class="font-medium text-gray-800">
                          <span v-if="item.contact_name" class="capitalize">
                            {{ item.contact_name[0] }}
                          </span>
                          <span v-if="item.contact_surname" class="capitalize">
                            {{ item.contact_surname[0] }}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td v-if="item.contact_email" class="table-content-text">
                      <div class="text-left">{{ item.contact_email[0] }}</div>
                    </td>
                    <td v-if="item.contact_phone" class="table-content-text">
                      <div class="text-left">{{ item.contact_phone[0] }}</div>
                    </td>
                    <td
                      v-if="item.appointment_postcode"
                      class="table-content-text"
                    >
                      <div class="table-postcode">
                        {{ item.appointment_postcode }}
                      </div>
                    </td>
                    <td class="table-content-text">
                      <div class="flex items-center">
                        <div class="font-medium text-gray-800">
                          <span v-if="item.agent_name" class="capitalize">
                            {{ item.agent_name[0] }}
                          </span>
                          <span v-if="item.agent_surname" class="capitalize">
                            {{ item.agent_surname[0] }}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td v-if="item.appointment_date" class="table-content-text">
                      <div class="table-date">
                        {{
                          new Date(item.appointment_date).toLocaleDateString(
                            'en-GB'
                          )
                        }}
                      </div>
                    </td>
                    <td>
                      <div class="table-action-buttons pl-2 flex gap-2">
                        <button
                          class="btn circle edit-button"
                          @click="edit(item)"
                        >
                          <span class="material-icons-round"> edit </span>
                        </button>
                        <button
                          class="btn circle delete-button"
                          @click="remove(item.id)"
                        >
                          <span class="material-icons-round"> delete </span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <UpdateAppointment
      :appointment="updateAppointment"
      :open="openModal"
      @open="trackModal"
    />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'

export default {
  data() {
    return {
      openModal: false,
      updateAppointment: {},
      filterQuery: null,
      reversed: false,
    }
  },
  async fetch() {
    await this.initFetch()
  },
  computed: {
    ...mapGetters({
      appointments: 'main/appointments/getAppointments',
      agents: 'main/agents/getAgents',
    }),
    filteredData() {
      if (this.filterQuery) {
        return this.appointments.filter(
          (a) => a.agent_id[0] === this.filterQuery
        )
      } else {
        return this.appointments
      }
    },
  },
  methods: {
    ...mapActions({
      initFetch: 'app/init/initFetch',
      deleteAppointment: 'main/appointments/deleteAppointment',
    }),
    ...mapMutations({
      setAppointments: 'main/appointments/setAppointments',
    }),
    remove(id) {
      if (confirm('Are you sure for deleting this appointment? ')) {
        this.deleteAppointment(id)
        this.$fetch()
      }
    },
    edit(item) {
      this.openModal = true
      this.updateAppointment = item
    },
    reverse() {
      this.reversed = !this.reversed
      const reversedData = JSON.parse(
        JSON.stringify(this.appointments)
      ).reverse()
      this.setAppointments(reversedData)
    },
    trackModal(e) {
      console.log(e)
      this.openModal = e
      this.$fetch()
    },
  },
}
</script>

<style lang="postcss" scoped>
.appointments-list {
  @apply grid grid-cols-12 gap-4;
}

.appointments-table {
  @apply col-span-full mt-5  bg-white shadow-xl rounded-2xl p-2;
}

.table-head-column {
  @apply py-3 px-3 mb-2 whitespace-nowrap  text-xs  font-semibold uppercase  text-gray-400 bg-gray-100;

  &:first-child {
    @apply rounded-l-xl;
  }
  &:last-child {
    @apply rounded-r-xl;
  }
}

.table-content-text {
  @apply py-2 px-3 whitespace-nowrap;
}
.table-head-column div {
  @apply font-semibold text-left;
}
.table-postcode {
  @apply bg-gray-400 text-white rounded-lg py-1 font-medium text-center;
}
.table-status {
  @apply text-white rounded-lg py-1 font-medium text-center;
}

.edit-button {
  @apply bg-purple-400 hover:bg-purple-500;
}
.delete-button {
  @apply bg-red-400 hover:bg-red-500;
}

.edit-button span,
.delete-button span {
  @apply text-base;
}
.reverse-button.reversed span {
  @apply transform rotate-180;
}

.reverse-button {
  @apply py-1 px-3 flex items-center rounded-lg text-gray-600 bg-gray-100 border border-gray-300 transition-all hover:shadow-lg;
}

tr.expired {
  @apply opacity-60;
}
</style>
