<template>
  <div class="page">
    <div class="page-title"><h2>Create Appointment</h2></div>

    <div class="box">
      <div class="grid grid-cols-2">
        <div class="col-span-2 2xl:col-span-1 flex flex-row md:flex-column">
          <div>
            <Gmap
              :selected-location="getSelectedLocation"
              @location="setLocation"
            />
          </div>

          <transition name="slide">
            <div v-if="localAddress" class="form w-full px-5 py-3">
              <div class="time-box text-gray-700 bg-gray-100">
                <div v-if="distance.text">
                  Distance: {{ distance.text }} <br />
                  Trip Time {{ leavingTime.text }}
                </div>
                <div v-else>
                  <b>Select location</b> or enter postcode to see distance and
                  trip time.
                </div>
              </div>

              <div class="w-full">
                <div v-if="dateInfo.leavingDate">
                  <div class="time-box bg-purple-400 text-white">
                    Appointment Date:
                    <b class="block">
                      {{
                        `${dateInfo.leavingDate.day} ${dateInfo.leavingDate.month} ${dateInfo.leavingDate.year}`
                      }}
                    </b>
                  </div>

                  <div class="time-box bg-purple-500 text-white">
                    Agent Must Leave at:
                    <b class="block capitalize">
                      {{ dateInfo.leavingDate.time }}
                    </b>
                  </div>

                  <div class="time-box bg-purple-600 text-white">
                    Agent Should Return Office at:

                    <b class="block capitalize">
                      {{ dateInfo.returningDate.time }}
                    </b>
                  </div>
                </div>
                <div v-else class="time-box text-gray-700 bg-gray-100">
                  <b> Select appoinment date </b> to see leaving time
                </div>
              </div>
            </div>
          </transition>
        </div>
        <div
          class="form col-span-2 2xl:col-span-1 my-2 p-2 grid grid-cols-2 gap-5"
        >
          <div class="h-auto">
            <label class="block" for="postcode">Enter Postcode</label>
            <t-input
              v-model.lazy="postcode"
              required
              placeholder="CM2 0XF..."
              name="postcode"
              @change="checkPostcode"
            />
          </div>
          <div class="field">
            <label class="block" for="date">Select Date</label>
            <t-datepicker
              v-model="selectedDate"
              user-format="d F Y - G:i K"
              date-format="Z"
              placeholder="Appointment Time"
              timepicker
              am-pm
            />
          </div>

          <div class="field select-filter">
            <label class="block" for="contact">Select Contact</label>
            <t-rich-select
              v-model="searchContact"
              :options="contacts"
              placeholder="Search Contact by Name"
              value-attribute="contact_id"
              text-attribute="contact_name"
              :minimum-input-length="0"
            >
              <template
                slot="option"
                slot-scope="{ isSelected, className, option }"
              >
                <div
                  :class="
                    isSelected
                      ? `text-white bg-purple-400 ${className}`
                      : className
                  "
                >
                  <div class="flex flex-col w-full ml-2">
                    {{ option.raw.contact_name }}
                    {{ option.raw.contact_surname }}
                  </div>
                </div>
              </template>
              <template slot="label">
                <span v-if="selectedContact"
                  >{{ selectedContact.contact_name }}
                  {{ selectedContact.contact_surname }}</span
                >
              </template>
            </t-rich-select>

            <div
              v-if="selectedContact.contact_email"
              class="mt-6 px-4 py-3 text-gray-700 bg-gray-100 rounded-lg"
            >
              <div class="email">
                Email : {{ selectedContact.contact_email }}
              </div>
              <div class="email">
                Phone : {{ selectedContact.contact_phone }}
              </div>
            </div>
          </div>
          <div class="field select-filter">
            <label class="block" for="agent">Asign Agent</label>
            <t-rich-select
              v-model="searchAgent"
              :options="agents"
              placeholder="Search Agent by Name"
              value-attribute="agent_id"
              text-attribute="agent_name"
              :minimum-input-length="0"
            >
              <template
                slot="option"
                slot-scope="{ isSelected, className, option }"
              >
                <div
                  :class="
                    isSelected
                      ? `text-white bg-purple-400 ${className}`
                      : className
                  "
                >
                  <div class="flex flex-col w-full ml-2">
                    {{ option.raw.agent_name }} {{ option.raw.agent_surname }}
                  </div>
                </div>
              </template>

              <template slot="label">
                <span v-if="selectedAgent"
                  >{{ selectedAgent.agent_name }}
                  {{ selectedAgent.agent_surname }}</span
                >
              </template>
            </t-rich-select>
          </div>
          <div class="flex col-span-2 justify-end">
            <button
              class="btn bg-purple-400"
              :disabled="!creatable"
              @click="onSubmit"
            >
              Create Appoinment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  data() {
    return {
      searchContact: null,
      searchAgent: null,
      postcode: null,
      selectedLocation: null,
      selectedDate: null,
      leavingTime: {},
      distance: {},
    }
  },
  async fetch() {
    await this.initFetch()
  },
  computed: {
    ...mapGetters({
      contacts: 'main/contacts/getContacts',
      agents: 'main/agents/getAgents',
      localAddress: 'main/postcode/getLocalAddress',
      selectedContact: 'main/contacts/getSelectedContact',
      selectedAgent: 'main/agents/getSelectedAgent',
      getSelectedLocation: 'main/postcode/getSelectedLocation',
      getSelectedPostcode: 'main/postcode/getSelectedPostcode',
    }),
    dateInfo() {
      if (this.leavingTime && this.selectedDate) {
        const date = new Date(this.selectedDate)

        const leavingTime = this.calculateDate(
          'leave',
          date,
          this.leavingTime.value
        )
        const returningTime = this.calculateDate(
          'return',
          date,
          this.leavingTime.value
        )

        const leavingDate = {
          day: leavingTime.getDate(),
          month: leavingTime.toLocaleString('default', {
            month: 'long',
          }),
          year: leavingTime.getFullYear(),
          time: leavingTime.toLocaleString('en-GB', {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
          }),
        }

        const returningDate = {
          day: returningTime.getDate(),
          month: returningTime.toLocaleString('default', { month: 'long' }),
          year: returningTime.getFullYear(),
          time: returningTime.toLocaleString('en-GB', {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
          }),
        }

        return {
          leavingDate,
          returningDate,
        }
      }
      return false
    },
    creatable() {
      if (
        this.selectedDate &&
        this.postcode &&
        this.selectedContact.contact_id &&
        this.selectedAgent.agent_id
      ) {
        return true
      } else {
        return false
      }
    },
  },
  watch: {
    searchContact(n) {
      this.fetchSingleContact(n)
    },
    searchAgent(n) {
      this.fetchSingleAgent(n)
    },
    getSelectedPostcode(n) {
      this.postcode = n
    },
  },
  methods: {
    ...mapActions({
      initFetch: 'app/init/initFetch',
      fetchSingleContact: 'main/contacts/fetchSingleContact',
      fetchSingleAgent: 'main/agents/fetchSingleAgent',
      searchPostcode: 'main/postcode/searchPostcode',
      searchLocation: 'main/postcode/searchLocation',
      createAppointment: 'main/appointments/createAppointment',
    }),
    checkPostcode() {
      if (this.postcode) {
        this.searchPostcode(this.postcode.replace(/ /g, ''))
      }
    },
    setLocation(e) {
      this.leavingTime = e.routes[0].legs[0].duration
      this.distance = e.routes[0].legs[0].distance

      const lat = e.request.destination.location.lat()
      const lng = e.request.destination.location.lng()

      this.searchLocation({ lat, lng })
    },
    calculateDate(caseN, objDate, intSeconds) {
      const numberOfMlSeconds = objDate.getTime()

      const minutes = Math.round(intSeconds / 60)
      console.log(minutes)

      const mlSeconds = minutes * 60 * 1000

      if (caseN === 'return') {
        const newDateObj = new Date(numberOfMlSeconds + mlSeconds + 3600000)
        // 3600000 equals standart appoinment time of agent = 1 Hour
        return newDateObj
      } else if (caseN === 'leave') {
        const newDateObj = new Date(numberOfMlSeconds - mlSeconds)
        return newDateObj
      }
      return false
    },
    async onSubmit() {
      if (this.creatable) {
        try {
          const contactId = []
          const agentId = []
          contactId.push(this.selectedContact.id)
          agentId.push(this.selectedAgent.id)

          await this.createAppointment({
            appointment_date: this.selectedDate,
            appointment_postcode: this.postcode,
            contact_id: contactId,
            agent_id: agentId,
          })
        } catch (error) {
          console.log(error)
        } finally {
          alert('Appointment Created')
          this.$router.push('/appointments')
        }
      }
    },
  },
}
</script>

<style lang="postcss" scoped>
.time-box {
  @apply w-full mb-2 px-4 py-2 rounded-2xl;
}
</style>
