<template>
  <div class="page">
    <div class="page-title"><h2>Dashboard</h2></div>
    <div class="grid grid-cols-4 gap-5 mx-2 mt-6">
      <transition name="slide" appear>
        <div v-if="appointments.length" class="dashboard-box">
          <span> {{ appointments.length }} </span> Appointments
        </div>
      </transition>
      <transition name="slide" appear>
        <div v-if="contacts.length" class="dashboard-box">
          <span> {{ contacts.length }}</span> Contacts
        </div>
      </transition>
      <transition name="slide" appear>
        <div v-if="agents.length" class="dashboard-box">
          <span> {{ agents.length }} </span>Agents
        </div>
      </transition>

      <transition name="slide" appear>
        <nuxt-link v-if="agents.length" to="/create">
          <div class="dashboard-box box-button">
            <span class="material-icons-round"> add_business </span> New
            Appointments
          </div>
        </nuxt-link>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  async fetch() {
    await this.initFetch()
  },
  computed: {
    ...mapGetters({
      contacts: 'main/contacts/getContacts',
      agents: 'main/agents/getAgents',
      appointments: 'main/appointments/getAppointments',
    }),
  },
  methods: {
    ...mapActions({
      initFetch: 'app/init/initFetch',
    }),
  },
}
</script>

<style lang="postcss" scoped>
.dashboard-box {
  @apply text-lg col-span-1 px-5 py-10 bg-white shadow rounded-2xl flex items-center gap-4;
}

.dashboard-box.box-button {
  @apply bg-purple-400 text-white hover:shadow-lg gap-2 font-medium transition-all cursor-pointer justify-center items-center;
}

.dashboard-box.box-button span {
  @apply text-3xl p-0 m-0;
}

.dashboard-box span {
  @apply w-10 h-10 bg-purple-400 rounded-full text-white flex items-center justify-center;
}
</style>
